iframe {
  display: none;
}
a:hover {
  color: white;
}
.button.is-link.is-outlined:hover {
  background-color: #3273dc;
  color: white;
  border-color: #3273dc;
}
a[data-cy='AllCategories'] {
  border-color: #3ec487;
  color: #3ec487;
}
a[data-cy='AllCategories'].is-success {
  color: black;
}
